<?php
$helper = $this->helper('Shero\Notifications\Helper\Data');
$products = $helper->getOutOfStockProducts();
?>
    <table style="width: 100%">
        <caption class="table-caption">Subscriptions</caption>
        <thead style="background-color:#d4ccc1">
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Stock</th>
        </tr>
        </thead>
        <tbody style="text-align: center">
        <?php

        foreach ($products as $item) {
            ?>
            <tr>
                <td><?php echo $item['id'] ?></td>
                <td><?php echo $item['name'] ?></td>
                <td><?php echo $item['stock'] ?></td>

            </tr>

            <?php
        }
        ?>
        </tbody>
    </table>

