<?php
/**
 * Copyright © 2017 Shero Designs. All rights reserved.
 * @category Shero Extensions
 * @package Shero_Notifications
 * @author Shero Designs <www.sherodesigns.com>
 * @link https://www.sherodesigns.com/
 * @description: show notifications in customer dashboard
 */
$data = $block->getSubscriptions();

if (count($data) < 1) {
    echo "You have no Subscriptions!";
} else {
    ?>
    <table>
        <caption class="table-caption">Subscriptions</caption>
        <thead style="background-color:#1979c3;color:white">
        <tr>
            <th>ID</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Subscription Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <?php


        foreach ($data as $sub) {
            ?>
            <tr>
                <td><?php echo $sub->getAlertId() ?></td>
                <td><?php echo $sub->getAlertProductId() ?></td>
                <td><?php echo $sub->getAlertProductName() ?></td>
                <td><?php echo $sub->getAlertSubscriptionDate() ?></td>

                <!--    show notification status  -->
                <?php if ($sub->getAlertStatus() == '0') {

                    echo "<td class='notification-inactive'>Inactive</td>";
                } else {

                    echo "<td class='notification-active'>Active</td>";
                } ?>

                <!--    show delete|unsubscribe based on notification status     -->
                <td><a href="delete?alert_id=<?php echo $sub->getAlertId() ?>">
                        <?php if ($sub->getAlertStatus() == '0') {
                            echo "Delete";

                        } else {
                            echo "Unsubscribe";
                        } ?>
                    </a></td>
            </tr>

            <?php
        }
        ?>
        </tbody>
    </table>
    <?php
}
?>