<?php
/**
 * Copyright © 2017 Shero Designs. All rights reserved.
 * @category Shero Extensions
 * @package Shero_Notifications
 * @author Shero Designs <www.sherodesigns.com>
 * @link https://www.sherodesigns.com/
 * @description: subscription form in product page
 */

/**
 * @var $helper \Shero\Notifications\Helper\Data
 */
$helper = $this->helper('Shero\Notifications\Helper\Data');

$product  =$block->getCurrentProduct();
if($helper->showSubscriptionForm($product) ) {
    ?>
    <div class="block shero-notification <?php echo $helper->isConfigurable($product)?'no-display':''; ?> is-not-subscribed">
        <div class="title">
            <p><i>Subscribe to be notified when product comes back in stock.</i></p>
        </div>

            <form class="form notification"
                  novalidate
                  action="<?php echo $block->getFormActionUrl() ?>"
                  method="post"
                  data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                  id="notification-validate-detail">
                <div class="field shero-notification-inputs">
                    <label class="label" for="ousnotification"></label>
                    <div class="notification-check">
                        <input name="shero-product" value="<?php echo $block->getCurrentProduct()->getId(); ?>"
                               type="hidden"/>
                        <input name="email" type="email" id="ousnotification"
                               placeholder="<?php echo __('user@exmaple.com') ?>"
                               data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                </div>
                <div class="shero-notify-action">
                    <button class="action subscribe notification" title="<?php echo __('Subscribe') ?>" type="submit">
                        <span><?php echo __('Subscribe') ?></span>
                    </button>
                </div>
            </form>
    </div>
    <?php
}

if($helper->showIsSubscribedNotification($product)){  ?>
    <div class="block shero-notification is-subscribed">
<div class="title">
    <p><i>You have subscribed to get notified when this product comes back in stock.</i></p>
</div>
    </div>

<?php } ?>


