.page-product-configurable .shero-notification{
    display:none;
}

.shero-notification .title {
    color: #c30000;
}

.shero-notification .subscribe {
    float: right;
    width: 35%;
    margin-top: -34px;
    background-image: none;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    box-shadow: none;

}

.shero-notification #ousnotification {
    width: 60%;
}

.shero-notification{
    margin-bottom: 0 !important;
}

td.notification-inactive {
    color:#ff524d;
}
td.notification-active {
    color:#08860c;
}

